.wapper{
    width: 950px;
    margin: 0px auto;
}
ul {
    list-style-type: none;
}

.header{
    border: red 3px solid;
    /*overflow: auto;*/
}
.header .topNav{
    margin: 0;
    overflow: auto;
}
.header .topNav ul {
    float: right;
    margin: 0;
}
div.header .topNav li {
    line-height: 30px;
    float: left;
}
div.header .topNav li a {
    margin: 0px 6px;
}
.header>.lunbo{
    border: solid 1px pink;
}
.swiper-container {
    width: 948px;
    height: 280px;
}
.swiper-container img{
    width: 100%;
    height: 100%;
}
div.header .mainNav{
    margin: 0;
    overflow: auto;
}
div.header .mainNav .ul{
    padding: 0;
}
div.header .mainNav li {
    height: 30px;
    line-height: 30px;
    float: left;
    color: #747474;
}




.midContent{
    border: yellow 3px solid;
    overflow: auto;
}
.midContent>.left_fenlei{
    
    float:left;
    width:20%;
}
.midContent>.right{
    border: solid 2px green;
    float:right;
    width: 75%;
}
.midContent .hotProduct{
    border: blue 1px solid;
}
.midContent .newProduct{
    border: blue 1px solid;
}
.fashion{
    border: black 3px solid;
}
.footer{
    border: black 3px solid;
}
.footer .bottomNav{
    margin-bottom: 10px;
    text-align: center;
}
.footer .bottomNav li{
    display: inline-block;
    line-height: 26px;
}
.footer .copyright {
    line-height: 30px;
    margin-bottom: 10px;
    color: #555555;
    text-align: center;
}
.footer_pic_new_inner {
    margin: 0px auto;
    height: 68px;
    padding: 5px 0 5px 30px;
    text-align: center;
}
.span24{
	overflow: auto;
}
.span24 .fashion{
	overflow: auto;
}
.span24 li{
	float:left;
}
.span24 img{
	width:200px;
	height:210px;
}

.span24 .title{
	color: red;
    font-size: 30px;
    font-family: 幼圆;
    background-color: pink;
    line-height: 30px;
}
div.hotProductCategory {
    /*width: 216px;*/
    padding: 0px 6px;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #e4e4e4;
}